:root {
  --header-height: 5vh; /* Adjust the height as needed */
  --footer-height: 5vh; /* Adjust the height as needed */
  --main-height: calc(100vh - var(--header-height) - var(--footer-height));
}

header {
  height: var(--header-height);
  padding: 0 0.4em;
  background-color: whitesmoke;
}

nav {
  height: 100%;
}

main {
  color: white;
  padding: 2px; /* Adjust based on your design */
  height: var(--main-height); /* Use the calculated main height */
  overflow-y: auto;
  display: flex; /* Enable Flexbox */
  flex-direction: column; /* Stack children vertically */
  justify-content: center; /* Center content vertically */
  align-items: center; /* Center content horizontally */
  -webkit-backdrop-filter: grayscale(1);
  backdrop-filter: grayscale(1);
}

footer {
  height: var(--footer-height);
  padding: 0 0.4em;
  background-color: whitesmoke;
}

.active {
  font-weight: bold;
  color: rgba(59, 129, 246, 1);
  opacity: 1;
}

/* General form styling */
form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
  border: 1px solid #ccc;
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  background-color: rgba(255, 255, 255, 0.7);
  max-width: 500px;
  margin: auto;
}

/* Styling for all input fields within the form */
form input {
  padding: 10px;
  border: 1px solid #ccc;
  font-size: 16px;
  width: 100%; /* Adjust width to account for padding and border */
  background-color: rgba(233, 224, 224, 0.5);
}
/* Styling for label tags within the form */
form label {
  font-size: 16px;
  color: #333;
  margin-bottom: 5px;
  font-weight: bold;
}
.disabled-button {
  background-color: crimson;
  cursor: not-allowed;
}
.disabled-button:hover {
  background-color: crimson;
  cursor: not-allowed;
}

.errorText {
  color: crimson;
}
/* Responsive input fields */
@media (max-width: 768px) {
  form input {
    font-size: 14px;
  }
  form label {
    font-size: 14px;
  }
}

/* Styling for buttons within the form */
form button {
  padding: 10px 15px;
  background-color: #007bff;
  color: white;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s;
}

form button:hover {
  background-color: #0056b3;
}

/* Ensure buttons are easy to click on mobile devices */
@media (max-width: 768px) {
  form button {
    padding: 12px 18px;
  }
}
