:root {
  --header-height: 5vh; /* Adjust the height as needed */
  --footer-height: 5vh; /* Adjust the height as needed */
  --main-height: calc(100vh - var(--header-height) - var(--footer-height));
}

header {
  height: var(--header-height);
  padding: 0 0.4em;
  background-color: whitesmoke;
}

nav {
  height: 100%;
}

main {
  color: white;
  padding: 2px; /* Adjust based on your design */
  height: var(--main-height); /* Use the calculated main height */
  overflow-y: auto;
  display: flex; /* Enable Flexbox */
  flex-direction: column; /* Stack children vertically */
  justify-content: center; /* Center content vertically */
  align-items: center; /* Center content horizontally */
  -webkit-backdrop-filter: grayscale(1);
  backdrop-filter: grayscale(1);
}

footer {
  height: var(--footer-height);
  padding: 0 0.4em;
  background-color: whitesmoke;
}

.active {
  font-weight: bold;
  color: rgba(59, 129, 246, 1);
  opacity: 1;
}
